doctype html
head
  meta(charset='UTF-8')
  meta(name='Contact' content='Contact')
  title Contact
  link(rel='stylesheet' type='text/css' href='CSS/contact.css')
  link(href='https://fonts.googleapis.com/css?family=Merriweather|Muli:300' rel='stylesheet')
// Gloal nav bar with logo
header.header-container
  .logo
    a(href='index' title='Welcome to Travel Experts')
      img(src='img/logo_other.JPG' width='250')
  nav
    ul
      li.nav-li
        a(href='index')
          strong Home
      li.nav-li
        a(href='register')
          strong Register
      li.nav-li
        a(href='#')
          strong Contact
// Contact Information for the agency and individual agents
main
  h1 Contact Information
  h2.agency Agency: 
  p
    | 101 - 604 14 Ave SW
    br
    | Calgary AB
    br
    | Canada T2R 0M8
    br
    br
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5017.440140136125!2d-114.07484439999999!3d51.0397907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5371701e75ae2855%3A0xa40cd901f890a5a1!2s604%2014%20Ave%20SW%2C%20Calgary%2C%20AB%20T2R%200M8!5e0!3m2!1sen!2sca!4v1581553832163!5m2!1sen!2sca' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')
  h2.contact Contact: 
  h3 Office
  p (780) 246-2067
  h3 Agents
  p
    ul
      li.agent Yeji Soh: (780) 246-2067
      li.agent Jason Smith: (403) 123-5678
      li.agent Amy Boston: (403) 567-8900
