doctype html
head
  meta(charset='UTF-8')
  meta(name='Index' content='Index')
  title Welcome to Travel Experts
  link(rel='stylesheet' type='text/css' href='CSS/index.css')
  link(href='https://fonts.googleapis.com/css?family=Merriweather|Muli:300' rel='stylesheet')
// Header: Hero Section
header.hero
  div
    a(href='#' title='Welcome to Travel Experts')
      img.logo(src='/img/logo_index.JPG')
  h1 Welcome to Travel Experts
// Fixed buttons
a.Home(href='#') Home
a.Register(href='register') Register
a.VacPkg(href='vacation-packages') Vacation Packages
a.Contact(href='contact') Contact
// Paragraph texts
p.main-p
  strong Travel Experts
  |  offers you the best travel packages around the world.
  br
  |         Please take a look at some photos down here!
// Gallary: images brought from index.js
.gallery

//- this javascript along with above div.gallery can be removed, packages should be rendered from backend 
script(src='JS/index.js')   

//package export test
//- table
//-   for item in gallery1
//-     tr
//-       th= item.PackageID
//-       th= item.PkgName
//-       th= item.PkgStartDate
//-       th= item.PkgEndDate

div!= gallery2




footer Copyright &copy; Yeji Soh, 2020 
