doctype html
head
  meta(charset='UTF-8')
  meta(name='Register' content='Register')
  title Register
  link(rel='stylesheet' type='text/css' href='CSS/register.css')
  link(href='https://fonts.googleapis.com/css?family=Merriweather|Muli:300' rel='stylesheet')
// Gloal nav bar with logo
header.header-container
  .logo
    a(href='index' title='Welcome to Travel Experts')
      img(src='img/logo_other.JPG' width='250')
  nav
    ul
      li.nav-li
        a(href='index')
          strong Home
      li.nav-li
        a(href='#')
          strong Register
      li.nav-li
        a(href='contact')
          strong Contact
main
  h1 Registeration
  h2 Customer Information
  div
    // information filled out in the form will be collected to corresponding account of getform.io.
    form.cust-form(method='POST' action='/post_form')
      label userID: * 
      input#userID(type='text' rules='required|min:3' name='userID' placeholder='Enter your userID.' required='')
      small#alert-ID
      label Password: * 
      input#password(type='text' rules='required|min:3' name='password' placeholder='Enter your password.' required='')
      small#alert-PW
      label Name: * 
      input(type='text' rules='required|min:3' name='name' placeholder='Enter your name.' required='')
      label Address: * 
      input(type='text' rules='required|min:3' name='address' placeholder='Enter your address.' required='')
      label City: * 
      input(type='text' rules='required|min:3' name='city' placeholder='Enter the city you live in.' required='')
      label Province: *
      select#prov(name='prov' required='')
        option(value='')
        option(value='Alberta') AB
        option(value='British Columbia') BC
        option(value='Manitoba') MB
        option(value='New Brunswick') NB
        option(value='Newfoundland and Labrador') NL
        option(value='Northwest Territories') NT
        option(value='Nova Scotia') NS
        option(value='Nunavut') NU
        option(value='Ontario') ON
        option(value='Prince Edward Island') PE
        option(value='Quebec') QC
        option(value='Saskatchewan') SK
        option(value='Yukon') YT
      label Postal Code: * 
      input#pcode(type='text' rules='required|min:3' name='postalCode' placeholder='Enter the postal code with a blank included, e.g. T2R 0M8' required='')
      small#alert-pcode
      label Phone: * 
      input#phone(type='tel' rules='required|min:3' name='phone' placeholder='Enter your phone number without any special characters, e.g. 4037558645' required='')
      small#alert-phone
      label Email: * 
      input#email(type='email' rules='required|min:3' name='email' placeholder='Enter your email address, e.g. john.doe@gmail.com' required='')
      small#alert-email
      label Message: 
      textarea(name='message' placeholder='Anything you would like to tell us?')
      br
      input#submit(type='submit' name='submit' value='Submit')
script(src='CSS/register.js')
