doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' type='text/css' href='CSS/thanks.css')
  link(href='https://fonts.googleapis.com/css?family=Merriweather|Muli:300' rel='stylesheet')
  style.
header.header-container
  .logo
    a(href='index' title='Welcome to Travel Experts')
      img(src='img/logo_other.JPG' width='250')
  nav
    ul
      li.nav-li
        a(href='index')
          strong Home
      li.nav-li
        a(href='register')
          strong Register
      li.nav-li
        a(href='contact')
          strong Contact
h1
  | Thank you for your submission! 
  br
  br
  |  We will get back to you ASAP!
a(href='/view_custInfo') View Customer Information
br
br
a(href='/order') Go ahead! Book your trip!