doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' type='text/css' href='CSS/thanks.css')
  link(href='https://fonts.googleapis.com/css?family=Merriweather|Muli:300' rel='stylesheet')
  style.
    body {
    background-color: rgb(252, 239, 238);
    width: 800px;
    height: 500px;
    margin: auto;
    Font-Family: 'Merriweather', Serif;
    Font-Size: 1em;
    text-align: center;
    }
.logo
  a(href='index' title='Welcome to Travel Experts')
    img(src='img/logo_other.JPG' width='250')
header.header-container
  nav
    ul
      li.nav-li
        a(href='index')
          strong Home
      li.nav-li
        a(href='register')
          strong Register
      li.nav-li
        a(href='contact')
          strong Contact
h1
  | Thank you for your booking! 
  br
  br
  |  Looking forward to meeting you soon on this trip!