  body {
    margin: 0;
    background-color: #555;
    font-size: 0.5vw;
  }

header {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.5), transparent 35%),
  url(https://picsum.photos/id/1011/1500/1000);
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 3fr;
}

nav {
  grid-column-start: 1 ;
  grid-column-end: span3 ;
  display:flex;
  flex-direction: row;
  justify-content: space-between;  
}


.logo {
margin-top: 2em;
margin-left: 2em;
height: 10vh;
}


.navul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 50vw;
    align-items: center;
  }

  li {
    text-align: left;
    margin: 0;
  }


  a {
    /* font-size: 20px; */
    color: #FFF;
    font-size: 2.5vh;
    text-decoration: none;
    Font-Family: 'Source Sans Pro', Sans-Serif;
  }


.hero_text{
  font-size: 8vh;
  grid-column-start: 4;
  grid-row-start: 3;
  color: #FFF;
  Font-Family: 'Playfair Display', Serif;
}


.category_text{
  font-size: 8vh;
  color: #FFF;
  Font-Family: 'Playfair Display', Serif;
  margin: auto;
  text-align: center;
}


main {
  margin: auto;
  padding: 0;
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


h1 {
font-size: 2vw;
Font-Family: 'Playfair Display', Serif;
color: black;
}

h3 {
  font-size: 3vh;
  color: #FFF;
  margin: 0.5vh;

}



form {
display: flex;
margin: auto;
flex-direction: column;
}


footer {
  color: #EEE;
  font-size: 1vw;
  margin: auto;
  text-align: center;
}


.form_label {
  font-size: 2vw;
  text-align: left;
}

.myEmail {
  width: 30vw;
  height: 2em;
}

.myNote {
  width: 30vw;
  height: 4em;
}

.content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

form.signUp {
    max-width: 80ch;
    margin: auto;
}

