  body {
    margin: 0;
    background-color: #78fee0;
    font-size: 0.5vw;
  }

  header {
    display: flex;
    background-color: #4bc2c5;
    justify-content: space-between;
    height: 5vw;
  }

  .logo {
    height: 5vw;
    width: 15vw;
    background-image: url(https://picsum.photos/id/237/200/300);
    /* background-size: auto; */
    background-size: cover;
    background-position: center;
  }

  #hello1 {
    font-size: 2vw;
    margin: auto;
  }

  ul.navul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 40vw;
    height: 5vw;
    align-items: center;
  }

  li {
    text-align: center;
    margin: 0;
    background-color: #4bc2c5;

  }


  a {
    /* font-size: 20px; */
    color: #FFF;
    font-size: 1.5vw;
    text-decoration: none;
    Font-Family: 'Source Sans Pro', Sans-Serif;
  }

.hero {
  width: 100vw;
  height: 50vw;
  background-image: url(https://picsum.photos/id/1011/2700/1800);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.hero_text{
  font-size: 5vw;
  grid-column-start: 4;
  grid-row-start: 4;
  color: #FFF;
  Font-Family: 'Playfair Display', Serif;

}


main {
  margin: auto;
  padding: 0;
  width: 85vw;
  display: inline-flexbox;
  justify-content: flex-start;
  /* grid-template-columns: 1fr 1fr 1fr; */
}


h1 {
font-size: 2vw;
Font-Family: 'Playfair Display', Serif;
color: black;
}

.prod_gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; */

}


.product {
  /* grid-column-start: 1;
  grid-row-start: 1; */
  display: block;
  width: 25vw;
  height: 25vw;
  background-image: url(https://picsum.photos/600/600);
  background-size: cover;
  background-position: center;
}




